html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, sans-serif;
    text-align: center;
}

header {
    background: black;
    color: white;
    padding: 10px 20px;
}

.only-fans {
    font-size: smaller;
}

footer {
    background: black;
    color: white;
    padding: 5px;
}